.print-display{
	display: none !important;
}

/* Printing Query
/*-----------------------------------------------------------------------------------*/

@page
{
	    size: 2.18in 1.18in;
	    size: portrait;
	    margin: 0;
}

@media print {	

	
	body {
		font-family: Georgia, serif;
		background: none;
		color: black;	
		font-size: 25pt;	
	}
	
	.pages_container{
		page-break-inside: avoid;
		margin:0; background-color:#ffffff; padding:20px 2.5%; border:1px #ffffff solid; width:90%;
	}

	.no-print, .no-print *
    {
        display: none !important;
    }
    
    .print-display, .print-display *
    {
        display: block !important;
        font-size: 25pt;
       
    }	
    
    .navbar{
    	display: none !important;
    }
    
}